	body {
	    padding: 10px;
	    width: 50%;
        margin: 0 auto 0 auto;
	}
	
	.btn {margin-top: 10px;}
	
	.obvestilo {margin-left:10px;}
	
	.panel-default > .panel-heading {
  				background-color: #B8DB4D;
  				border-color: #B8DB4D;
	}
	
	.label-default {
				background-color: #B8DB4D;
	}